{% extends '::base.html.twig' %}

{% block content %}
    <table>
        <thead>
            <tr>
                <td>Author</td>
                <td>Date</td>
                <td>Website</td>
                <td>comment</td>
                <td>Rating</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
