.footer {
    background-color: #f8f8f8;
    padding: 20px 0 10px 0;
    width: 100%;
}

td, th {
    padding:5px 20px 1px 5px;
    border: 1px solid #000;
}

th {
    background-color: #faebcc;
}

#chooseStudiosResults {
    margin: 50px 0 0 0;
}

table {
    margin: auto;
}